h1 {
    animation: heading 4s linear infinite alternate;
    font-size: 3rem;
}

container {
    border: 2px solid black;
}



@keyframes heading {
    0% {}

    100% {
        letter-spacing: 12px;
    }
}


table a {
    text-decoration: none;
    border: 2px solid black;
    color: rgb(255, 255, 255);
    padding: 3px 5px;
    border-radius: 5px;
    background-color: dodgerblue;
    position: relative;
    left: 30%;
    transition: all 200ms;


}


table {
    border-collapse: collapse;
    padding: 12px;
    width: 90%;
    margin: auto;
}



thead {
    background-color: red !important;
    border: 4px solid red;
}

.container-student {
    margin: auto;
    width: clamp(600px, 60%, 700px);
}

.click-here {
    margin: auto;
    margin-top: 2rem;
    padding: 1rem;
}

.click-here {
    width: 80%;
    text-align: center;

}


tr {
    transition: all 500ms;
    padding-top: 3rem !important;
}

tr:hover {
    background-color: rgb(227, 227, 236);
}

.warning {
    list-style: none;
    background-color: yellow;
    padding: .7rem;
    font-weight: 600;
    border: 2px solid red;
    margin-left: 0rem;
    text-transform: capitalize;
    width: 100%;
}

.success {
    list-style: none;
    background-color: rgb(0, 255, 123);
    padding: .7rem;
    font-weight: 600;
    border: 2px solid red;
    margin-left: 0rem;
    text-transform: capitalize;
    border-radius: .4rem;
    width: 100%;
}

.click-here a {
    text-decoration: none;
    /* background-color: rgb(204, 223, 224); */
    padding: .7rem 2rem;
    border-radius: .5rem;
    font-size: 1rem;
    color: black;
    border: 2px solid black;
    box-shadow: 0 0 5px 1px black;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}

tr,
th,
td {
    border: 1px solid;
    padding: 2rem;
}

.details {
    width: 80%;
    margin: 2rem auto;
    border: 2px solid black;
    padding: 1.5rem 3rem;
}

.details .name span {
    color: dodgerblue;
    font-weight: normal;
}



.heading {
    text-align: center;
    display: block;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    background: linear-gradient(90deg, red, blue);
    color: aliceblue;
    border-radius: 1rem;
}

form h2 {
    padding: 0 1rem;
    margin: 1rem 0;
}

.form-input {
    margin: 1rem;
}

input {
    accent-color: rgb(253, 48, 113);
}


.container~a {
    font-size: 2rem;
    display: inline-block;
    text-align: center;
    padding: .5rem 0;
    border-radius: 1rem;
    color: black;
    text-decoration: none;
    position: relative;
    left: 40%;
    margin-bottom: 3rem;
    padding: .4rem 1rem;
    box-shadow: 0 0 6px 3px;
    transition: all 200ms ease-out;
}

.container~a:hover {
    /* transform: scale(2); */
    color: rgba(0, 0, 0, 0.761);

}

.container button {
    width: 9rem;
}

button[type=submit] i {
    float: right;
    vertical-align: center;
    transition: 300ms linear;
}

button[type=submit]:hover i {
    transform: rotate(180deg);
}

input {
    border-radius: .5rem;
    padding: .1rem .5rem .3rem .5rem;
    font-size: 1rem;
    margin-top: 1rem;
    display: block;
    transition: all 300ms;
}

input[type=text]:focus {
    box-shadow: 0 0 .3rem .2rem dodgerblue;
}

select {
    width: 4rem;
    border-radius: .4rem;
}

select option {
    width: 1rem !important;
    border: 2px solid black !important;
    border-radius: 1rem;
    margin-top: 1rem;
}


select:focus option {
    margin-top: 1rem;
}

.container {
    padding: 3rem;
    box-shadow: 0 0 1rem .05rem;
    border-radius: 1rem;
    width: clamp(500px, 70%, 600px) !important;
    margin: 3rem auto;
}

.container button[type=submit] {
    position: relative !important;
    left: 2rem !important;
    margin-top: 2rem;
}

#btn-remove {
    width: 2.2rem;
    height: 2.3rem;
    background-color: rgb(255, 254, 252);
    border: 1px solid;
    font-size: 1.5rem;
    /* padding: .2rem; */
    border-radius: .2rem;
}