:root {
    --color-primary: #2584ff;
    --color-secondary: rgb(69, 255, 140);
}



input[type=submit] {
    background-color: var(--color-primary);
}



h1 {
    animation: heading 4s linear infinite alternate;
    font-size: 3rem;
}

container {
    border: 2px solid black;
}



@keyframes heading {
    0% {}

    100% {
        letter-spacing: 12px;
    }
}


table a {
    text-decoration: none;
    border: 2px solid black;
    color: rgb(255, 255, 255);
    padding: 3px 5px;
    border-radius: 5px;
    background-color: var(--color-primary);
    position: relative;
    left: 30%;
    transition: all 200ms;


}

a:hover {
    background-color: aliceblue;
    color: black;
}

table {
    border-collapse: collapse;
    padding: 12px;
    width: 90%;
    margin: auto;
}



thead {
    background-color: red !important;
    border: 4px solid red;
}

.container-student {
    margin: auto;
    width: clamp(600px, 60%, 700px);
}

.click-here {
    margin: auto;
    margin-top: 2rem;
    padding: 1rem;
}

.click-here {
    width: 80%;
    text-align: center;

}

tr:nth-child(even) {
    background-color: #ccd5d3;
}

tr {
    transition: all 500ms;
}

tr:hover {
    background-color: rgb(121, 121, 233);
}

.click-here a {
    text-decoration: none;
    background-color: rgb(204, 223, 224);
    border: rgb(255, 0, 140) solid 2px;
    padding: .4rem 1rem;
    border-radius: 1rem;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}

tr,
th,
td {
    border: 1px solid;
    padding: 1rem;
}

.details {
    width: 80%;
    margin: 2rem auto;
    border: 2px solid black;
    padding: 1.5rem 3rem;
}

.details .name span {
    color: dodgerblue;
    font-weight: normal;
}

.container {
    padding: 3rem;
    box-shadow: 0 0 1rem .05rem;
    border-radius: 1rem;
    width: clamp(400px, 50%, 500px);
    margin: 3rem auto;
}

.heading {
    text-align: center;
    display: block;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    background: linear-gradient(90deg, red, blue);
    color: aliceblue;
    border-radius: 1rem;
}

form h2 {
    padding: 0 1rem;
    margin: 1rem 0;
}

.form-input {
    margin: 1rem;
}

input {
    accent-color: rgb(253, 48, 113);
}

.container input[type=submit] {
    position: relative;
    margin: 2rem;
    left: 50%;
    transform: translate(-60%, 0);
    padding: .6rem 1rem;
    border-radius: .4rem;
    transition: all 300ms;
}

.container input[type=submit]:hover {
    color: wheat;
}

.container~a {
    display: inline-block;
    text-align: center;
    padding: .5rem 0;
    text-decoration: none;
    border: 2px solid black;
    position: relative;
    left: 40%;
    margin-bottom: 3rem;
}

/* Icon 1 */

.animated-icon1,
.animated-icon2,
.animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon1 span {
    background: #2d7ef7;
}

.animated-icon2 span {
    background: #e3f2fd;
}

.animated-icon3 span {
    background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
    top: 0px;
}

.animated-icon1 span:nth-child(2) {
    top: 10px;
}

.animated-icon1 span:nth-child(3) {
    top: 20px;
}

.animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

/* Icon 3*/

.animated-icon2 span:nth-child(1) {
    top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
    top: 10px;
}

.animated-icon2 span:nth-child(4) {
    top: 20px;
}

.animated-icon2.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
}

.animated-icon2.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
}

/* Icon 4 */

.animated-icon3 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 8px;
}

.animated-icon3.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 8px;
}