<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
    <style>
        
    </style>
</head>
<body>

    <form action="" method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors  %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endif %}
        
        {% for field in form %}
            <div class="form-input">
                <label for=" {{ field.auto_id }} ">{{field.label_tag|striptags}}</label>
                {{ field }}
                <small>{{ field.errors|striptags }}</small>
            </div>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
    <a href="{% url "edit"  %}"></a>

    {% if messages %}
        {% for message in messages %}
            <small {% if message.tags %} class="{{ message.tags }}" {% endif %} >{{ message }}</small>
        {% endfor %}
    {% endif %}
    
    <div class="student-details">
        <table align="center">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td>{{student.id}}</td>
                        <td>{{student.name}}</td>
                        <td>{{student.age}}</td>
                        <td>{{student.gender}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>