{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h4 class="bg-primary py-2 mt-4 rounded-2 text-center text-white mb-4">Add Student details</h4>
    <form action="" method="post" id="add-student" class="mb-4">
        {% csrf_token %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors  %}
            <p>{{ error }}</p>
            {% endfor %}
        {% endif %}
        {% for field in form %}
            <div class="form-input mt-3">
                <label class="mb-1" for="{{ field.auto_id }} ">{{field.label_tag|striptags}}</label>
                {{ field }}
                <small>{{ field.errors|striptags }}</small>
            </div>
        {% endfor %}

        <input type="submit" value="Add" class="btn btn-primary mt-2">
    </form>
    {% if messages %}
        {% for message in messages %}
            <p {% if message.tags %} class="py-1 rounded-3 text-center bg-{{message.tags}} text-white" {% endif %}>{{message}}
            </p>
        {% endfor %}
    {% endif %}
    <div class="student-details">
        <form action="" method="post">
            <input type="text" placeholder="Search Student name" class="form-control">
        </form>
        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for student in page_obj %}
                    <tr>
                        <td scope="row">{{ student.id }}</td>
                        <td scope="row">{{ student.name }}</td>
                        <td scope="row">{{ student.age }}</td>
                        <td scope="row">{{ student.gender }}</td>
                         <td scope="row">
                            <a class="btn-sm" href="{% url 'edit' student.id %}">
                                <i class="fa-solid fa-edit"></i>
                            </a>
                        </td>
                        <td scope="row">
                            <a class="text-danger btn-sm" href="{% url 'delete' student.id %}">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                
            </tbody>
        </table>
        <ul class="pagination justify-content-center flex-wrap mt-2 mb-4">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
            {% endif %}

            {% for i in page_range|default_if_none:page_obj.paginator.get_elided_page_range %}
                {% if page_obj.number == i %}
                    <li class="active page-item">
                        <span class="page-link">{{ i }} <span class="sr-only bg-black">(current)</span></span>
                    </li>
                {% else %}
                    {% if i == page_obj.paginator.ELLIPSIS %}
                        <li class="page-item"><span class="page-link">{{ i }}</span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
            {% endif %}
        </ul>        
    </div>
</div>

{% endblock content %}