{% extends 'core/base.html' %}
{% block content %}
<div class="non-field-error mt-3 px-4">
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p style="color:red;border:2px solid blue;padding:10px;border-radius:10px;">{{error}}</p>
    {% endfor %}
    {% endif %}
</div>
<div class="login-container container shadow mt-5 py-5 px-4 rounded-2 p-5 register-container">
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-3">
            {{field.label_tag}}
            {{field}}
            <div style="color:red;">{{field.errors}}</div>
        </div>
        <br>
        {% endfor %}
        <input type="submit" value="Login" class="btn btn-primary">
    </form>
</div>
{% endblock content %}