{% extends 'core/base.html' %}
{% block content %}
<a href="{% url 'home' %}">Home</a>
<h1>Hello {{name}}</h1>

{% if request.user.is_authenticated %}
    <div class="logout" style="margin-top:20px;">
        <a href="{% url 'logout' %}">Logout</a>
    </div>
    <div class="update-profile" style="margin-top:20px;">
        <a href="{% url 'updateprofile' %}">Update Profile</a>
    </div>
    <div class="change-with" style="margin-top:20px;">
        <a href="{% url 'changewith' %}">Change Password with Old Password</a>
    </div>
    <div class="change-without" style="margin-top:20px;">
        <a href="{% url 'changewithout' %}">Change Password without Old Password</a>
    </div>
{% endif %}
{% endblock content %}
