{% extends 'core/base.html' %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show" {% endif %}  role="alert">
            <p>{{ message }}</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
<div class="container shadow mt-5 py-5 px-4 rounded-2 p-5 register-container">
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-3">
            {{field.label_tag}}
            {{field}}
            <div style="color:red;">{{field.errors}}</div>
        </div>
        <br>
        {% endfor %}
        <input type="submit" value="Update" class="btn btn-success">
    </form>
</div>



{% comment %} {% if request.user.is_authenticated %}
<div class="logout" style="margin-top:20px;">
    <a href="{% url 'logout' %}">Logout</a>
</div>
{% else %}
<div class="rgister">
    <a href="{% url 'register' %}">Register</a>
</div>
<div class="login" style="margin-top:20px;">
    <a href="{% url 'login' %}">Login</a>
</div>
{% endif %} {% endcomment %}
{% endblock content %}