{% extends 'core/base.html' %}
{% block content %}

<div class="container">
    <dic class="heading">
        <h2>Add new student</h2>
    </dic>
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-input">
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
        </div>
        <div class="form-input">
            <label for="section">Section</label>
            <select name="section" id="section">
                {% for section in sections %}
                <option value="{{ section }}">{{ section }}</option>
                {% endfor %}

            </select>
        </div>
        <div class="form-input">
            <h3>Select Gender</h3>
            <input type="radio" name="gender" value="female" id="male">
            <label for="male">Male</label>
            <input type="radio" name="gender" value="female" id="female">
            <label for="male">Female</label>
            <input type="radio" name="gender" value="other" id="other">
            <label for="other">Other</label>
        </div>
        <div class="form-input">
            <h3>Select Course</h3>
            <ol>
                {% for course in courses %}
                <li class="d-flex justify-content-between w-50">
                    <label for="course"><strong>{{ forloop.counter }}. </strong> {{course}}</label>
                    <input type="checkbox" required name="course" id="course" value="{{ course }}">
                </li>
                {% endfor %}

            </ol>
        </div>
        <div class="form-input mt-5">
            <h3>Select Subjects</h3>
            <ol>
                {% for subject in subjects %}
                <li class="d-flex justify-content-between w-50">
                    <label for="course"><strong>{{ forloop.counter }}.</strong> {{subject}}</label>
                    <input type="checkbox" required name="course" id="course" value="{{ subject}}">
                </li>
                {% endfor %}
            </ol>
        </div>
        <button type="submit" class="d-flex justify-content-between align-content-center fw-bold rounded-2">Add
            Student
            <i class="fa-solid fa-circle-plus align-self-center">
        </button>
    </form>
</div>

{% if messages %}
<hr>
<ul class="messages">
    {% for message in messages %}
    <li>{{message}}</li>
    {% endfor %}
</ul>
{% endif %}
<a href=" {% url 'home' %} "><i class="fa-solid fa-house"></i></a>
{% endblock content %}