{% extends 'core/base.html' %}
{% block content %}

<div class="container">
    <dic class="heading">
        <h2>Add new student</h2>
    </dic>
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-input">
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
        </div>
        <div class="form-input">
            <label for="section">Section</label>
            <select name="section" id="section">
                {% for section in sections %}
                <option value="{{ section }}">{{ section }}</option>
                {% endfor %}

            </select>
        </div>
        <div class="form-input">
            <h3>Select Gender</h3>
            <input type="radio" name="gender" value="female" id="male">
            <label for="male">Male</label>
            <input type="radio" name="gender" value="female" id="female">
            <label for="male">Female</label>
            <input type="radio" name="gender" value="other" id="other">
            <label for="other">Other</label>
        </div>
        <div class="form-input">
            <h3>Select Course</h3>
            <ol>
                {% for course in courses %}
                <li>
                    <label for="course">{{course}}</label>
                    <input type="checkbox" name="course" id="course" value="{{ course }}">
                </li>
                {% endfor %}

            </ol>
        </div>
        <div class="form-input">
            <h3>Select Subjects</h3>
            <ol>
                {% for subject in subjects %}
                <li>
                    <label for="course">{{subject}}</label>
                    <input type="checkbox" name="course" id="course" value="{{ subject}}">
                </li>
                {% endfor %}
            </ol>
        </div>
        <input type="submit" value="Add Student">
    </form>
</div>

{% if messages %}
<hr>
<ul class="messages">
    {% for message in messages %}
    <li>{{message}}</li>
    {% endfor %}
</ul>
{% endif %}
<a href=" {% url 'home' %} ">Home</a>
{% endblock content %}