<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

        h1{
            animation: hello 1s ease 100ms 1 normal backwords;
        }
        @keyframes hello {
            0%{
                color:red;
            }
            100%{
                black
                font-size:100px
            }
    
        }
    </style>
</head>
<body>
    <h1>Successfully executed !!</h1>
</body>
</html>