{% extends 'core/base.html' %}
{% block content %}

<center>
    <h1>All Students</h1>
</center>
<div class="container-student">
    <table class="table">

        <head>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">View</th>
                <th scope="col">Delete</th>
            </tr>
        </head>
        <tbody class="table-group-divider">
            {% for student in students %}
            <tr>
                <td>{{student.id}}</td>
                <td>{{student.student_name}}</td>
                <td class="center"><a href="{% url 'show' student.id %}">View</a></td>
                <td class="center"><a href="{% url 'delete' student.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<h2 class="click-here text-danger">
    <a href="{% url 'addstudent' %}">Click Here To add new student

    </a>
</h2>

{% if student %}
<div class="details">
    <h2 class="name">Details of : <span>{{student.student_name}}</span></h2>
    <hr>
    <h3>Section: {{student.section.section_name}}</h3>
    <h3>Courses</h3>
    <ol>
        {% for course in student.course.all %}
        <li>{{ course.course_name }}</li>
        {% endfor %}
    </ol>
    <h3>Subjects</h3>
    <ol>
        {% for sub in student.subject.all %}
        <li>{{ sub.subject_name }}</li>
        {% endfor %}
    </ol>
</div>
{% endif %}

{% endblock content %}